html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #854075;
    text-align: left;
    padding: 15px;
    text-decoration: solid;
}

header a{
    color: aliceblue;
    /** el primer valor aplica para top bottom y el segundo para left right **/
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}

main {
    flex: 1;
    padding: 30px;
    text-align: center;
    
    justify-content: center;
}

main p{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.input-welcome{
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.button-ok{
    padding: 10px 20px;
    background-color: cadetblue;
    border: yellow;
    color: rgb(255, 255, 255);
    font-weight: 30px;
    cursor: pointer;
    
}

footer{
    
    background-color: darkorange;
    text-align: center;
    color: white;
    padding: 20px;
}